@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&family=VT323&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';



body {
  /* margin: 0;
  padding: 0; */
  background: #101010;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
