@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=VT323&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';



* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-family: 'VT323', monospace;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
